*{
  margin: 0;
}

body{
  background-color: rgb(236, 228, 228);
}

header{
  height: 50px;
  background-color: rgb(236, 228, 228);
  margin-left: 50px;
}

main{
  margin-left: 0px;

}

hr{
  border-color: brown;
  margin-top: 7px;
}

section span{
  font-size: 15px;
}

p{
  margin-top: 15px;
}

.container{
  color: #4d4c4e;
  margin-left: 65px;
  margin-top: 50px;
}


.tex-logo{
  display: inline-block;
  font-size: 50px;
}


h1{
  font-size: 50px;
}

.box{
  width: 80%;
  margin-left: 170px;
  background-color: #ffffffbd;
  height: 700px;
  
  margin-top: 50px;
  font-size: 30px;
  
}

}

.button{
  margin-left: 55px;
  padding: 10px;
  
  
}

.left{
  background-color: cyan;
  padding: 10px;
  border-radius: 15%;
  margin-left: 70px;
}

.right{
  padding: 10px;
  border-radius: 15%;
  color:  #c39f9f;
}


.circle{
  border-radius: 50%;
  border: 1px solid greenyellow;
  padding: 5px;
  color: green;
}

.border{
  background-color: cyan;
  padding: 5px;
  border-radius: 10px 10px;
  color: white;
  width: 97px;

}



 .border .viola{
  background-color: rgb(122, 124, 255);
  
} 
  
.blu{
  background-color: cyan;
  padding: 5px;
  border-radius: 10px 10px;

}


.circle-red{
  color: aquamarine;
  border-radius: 50%;
  border: 1px solid red;
  color: red;
  padding: 5px;
}

.green{

  background-color: rgb(102, 211, 107);
  padding: 5px;
  border-radius: 10px 10px;

}