*{
  margin: 0;
}

body{
  background-color: rgb(236, 228, 228);
}

main{
  margin-left: 0px;

}

hr{
  border-color: brown;
  margin-top: 7px;
}

section span{
  font-size: 15px;
}
.conteiner{
  width: 100%;
  margin: 0;
  height: 100px;
  background-color: aliceblue;
  
}

.tex-logo{
  display: inline-block;
  font-size: 50px;
}


h1{
  font-size: 50px;
}

.box{
  width: 80%;
  margin-left: 170px;
  background-color: #ffffffbd;
  height: 700px;
  margin-top: 50px;

}

.button{
  margin-left: 55px;
  padding: 10px;
  
  
}

.left{
  background-color: cyan;
  padding: 10px;
  border-radius: 15%;
}

.right{
  padding: 10px;
  border-radius: 15%;
  color:  #c39f9f;
}

.task{
  margin-top: 50px;
  font-size: 30px;
  margin-left: 55px;
}

.circle{
  border-radius: 50%;
  border: 1px solid greenyellow;
  padding: 5px;
  color: green;
}

#border{
  background-color: cyan;
  padding: 5px;
  border-radius: 10px 10px;

}
∞
#text{
  margin-left: 15px;
}